{% extends 'base.html.twig' %}

{% block title %}Ogretmen Main Page{% endblock %}

{% block body %}

<center><h2>Ogretmen Olarak Giris Yaptiniz</h2></center>
<br>
<center><a class="btn btn-outline-info" href="{{ path('ogretmen.account') }}">Kullanici Bilgileri</a> </center>
<br>
<center><a class="btn btn-outline-primary" href="{{ path('ogretmen.dersleri.gor') }}">Dersleri Gor</a> </center>
<br>
<center><a class="btn btn-outline-danger" href="{{ path('app_logout') }}">Cikis Yap</a> </center>


<ul>
    <li><h3>Fonksiyonlar</h3></li>
    <li>Derslere Kayit Ol</li>
    <li>Ders Kaydini Sil</li>
    <li>Derse Kayitli Ogrencileri Gor</li>
    <li> Kisisel Bilgileri goruntule</li>
</ul>

{% endblock %}
