{% extends 'base.html.twig' %}

{% block title %}Ogrenci Sayfasi{% endblock %}

{% block body %}

<center><h2>Ogrenci Olarak Giris Yaptiniz</h2></center>
<br>
<center><a class="btn btn-outline-danger" href="/logout">Cikis Yap</a> </center>
<center><a class="btn btn-outline-info" href="/ogrenci-bilgileri">Ogrenci Bilgileri</a></center>

<ul>
    <li><h3>Fonksiyonlar</h3></li>
    <li>Dersleri Gor</li>
    <li>Derslere Kayit Ol</li>
    <li>Ders Kaydini Sil</li>
    <li>Hakkindaki Bilgileri Gor - Kredi - iletisim bilgileri vs</li>
    
</ul>

{% endblock %}
