{% extends 'base.html.twig' %}

{% block title %}Yonetici Main Sayfasi{% endblock %}

{% block body %}


<center><h2>Yonetici Olarak Giris Yaptiniz</h2></center>
<br>
<center><a class="btn btn-outline-info m-4" href="/yonetici-istatistikler">Istatistikler</a></center>
<center><a class="btn btn-outline-success m-4" href="/ogrenci-kayit">Ogrenci Ekle</a></center>
<center><a class="btn btn-outline-warning m-4" href="/ogretmen-kayit">Ogretmen Ekle</a></center>
<center><a class="btn btn-outline-danger m-4" href="/yonetici-kayit">Yonetici Ekle</a></center>
<center><a class="btn btn-outline-danger m-4" href="/logout">Cikis Yap</a> </center>

{% endblock %}
