{% extends 'base.html.twig' %}

{% block title %}Root Page{% endblock %}

{% block body %}
<h2>giris yap: <a href="/login">giris</a></h2>
<br>
<h2>kayit ol: <a href="/register">kayit ol</a></h2>

{% endblock %}
