{% extends 'base.html.twig' %}

{% block title %}Root Page{% endblock %}

{% block body %}
{% if  is_granted('ROLE_OGRENCI') == true  or  is_granted('ROLE_OGRETMEN') == true or is_granted('ROLE_YONETICI') == true  %}
                  <center> You are Authenticated!</center>
                  <br>
                  <center><a class="btn btn-outline-danger" href="/logout">Cikis Yap</a> </center>
{% else %}

<center> <h2>giris yap: <a href="/login">giris</a></h2></center>



{% endif %}


{% endblock %}
