{% extends 'base.html.twig' %}
{% block body %}
<link rel="stylesheet" href="{{ asset('css/sistemHakkinda.css') }}" />



    <div class="container1 d-flex flex-column justify-content-center align-items-center mt-4">
        <div class="item1 d-flex justify-content-center align-items-center ">
            Sistem Hakkinda
        </div>
        <div class="item2-li mt-5">

            <p  class="item2-p">Sistem Ozellikleri</p>
            <p  class="item2-p">Sistem Ozellikleri</p>
            <p  class="item2-p">Sistem Ozellikleri</p>
            <p  class="item2-p">Sistem Ozellikleri</p>
            <p  class="item2-p">Sistem Ozellikleri</p>
            <p  class="item2-p">Sistem Ozellikleri</p>
            <p  class="item2-p">Sistem Ozellikleri</p>
            <p  class="item2-p">Sistem Ozellikleri</p>
            <p  class="item2-p">Sistem Ozellikleri</p>
            <p  class="item2-p">Sistem Ozellikleri</p>
            <p  class="item2-p">Sistem Ozellikleri</p>
            <p  class="item2-p">Sistem Ozellikleri</p>
            <p  class="item2-p">Sistem Ozellikleri</p>
            <p  class="item2-p">Sistem Ozellikleri</p>
            <p  class="item2-p">Sistem Ozellikleri</p>
            <p  class="item2-p">Sistem Ozellikleri</p>
            <p  class="item2-p">Sistem Ozellikleri</p>
            <p  class="item2-p">Sistem Ozellikleri</p>
            <p  class="item2-p">Sistem Ozellikleri</p>
            <p  class="item2-p">Sistem Ozellikleri</p>
            <p  class="item2-p">Sistem Ozellikleri</p>
            <p  class="item2-p">Sistem Ozellikleri</p>
            <p  class="item2-p">Sistem Ozellikleri</p>
            <p  class="item2-p">Sistem Ozellikleri</p>
            
            
        </div>
    </div>

{% endblock %}
