{% extends 'base.html.twig' %}

{% block title %}Istatistikler{% endblock %}

{% block body %}
<center>
<a class="btn btn-outline-success" href="/ogrencileri-goruntule">Ogrencileri Listele</a>
<br>

<a class="btn btn-outline-success" href="/ogretmenleri-goruntule">Ogretmenleri  Listele</a>
<br>
</center>
{% endblock %}
