{% extends 'base2.html.twig' %}

{% block yonetici %}
<link rel="stylesheet" href="{{ asset('css/main_duyurular.css') }}" />



<div class="duyurular" >
    <p>
        loremkgndfndfkngdnflgnkldflgnldfngklnkdfgkdfklngkldfkl
    </p>
    <p>
        loremkgndfndfkngdnflgnkldflgnldfngklnkdfgkdfklngkldfkl
    </p>
    <p>
        loremkgndfndfkngdnflgnkldflgnldfngklnkdfgkdfklngkldfkl
    </p>
    <p>
        loremkgndfndfkngdnflgnkldflgnldfngklnkdfgkdfklngkldfkl
    </p>
    

</div>



<div class="kullanicilar" style="display:none;">
    <button class="btn btn-dark" onclick="ogrenciler()">
        Ogrenciler
    </button>
    <button class="btn btn-dark" onclick="ogretmenler()">
        Ogretmenler
    </button>
    <button class="btn btn-dark" onclick="yoneticiler()">
        Yoneticiler
    </button>

</div>


    
{% endblock %}