{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<center><h1 style="margin-top:2vh">{{ title }}</h1></center>
<div class="d-flex justify-content-center align-items-center">


<div class="mt-5" style="width:50%;height:auto;">
{{ form(form) }}
</div>

</div>
{% endblock %}
